extends layout
append head
  script(type='text/javascript', src='/scripts/dashboard.js')

block content
  md-content.dashTitle(md-theme="default-dark" 
    ng-controller="dashHead as ctrl" layout="column" layout-padding)
    .md-display-1 Dashboard
    ul.collapsed.followerStats
      li._mrxs
        span(ng-hide="ctrl.followerCount >= 0") Loading followers...
        span(ng-show="ctrl.followerCount >= 0")
          b {{ctrl.followerCount}}
          |  Followers
      li._mrxs
        span(ng-hide="ctrl.newFollowerCount >= 0") Loading new followers...
        span(ng-show="ctrl.newFollowerCount >= 0")
          b {{ctrl.newFollowerCount}}
          |  New Followers
      li
        span(ng-hide="ctrl.unfollowerCount >= 0") Loading unfollowers...
        span(ng-show="ctrl.unfollowerCount >= 0")
          b {{ctrl.unfollowerCount}}
          |  Unfollowers
  md-card.layoutCard(layout-margin layout-padding
    layout="column")
    md-card-title
      md-card-title-text
        span.md-headline Automation Tools
    md-card-content
      div(flex ng-controller="autolike as liker")
        md-checkbox(ng-model="liker.status" id='autolike'
          ng-disabled="liker.loading === true"
          ng-click='liker.init()') Tweet Auto-Liker
      p This tool automatically likes Tweets periodically from your timeline. 
        | Twitter does not allow the use of tools to automatically
        | like Tweets. Proceed at your own risk.
  md-card.layoutCard(layout-margin layout-padding
    layout="column" ng-controller="newfollowerCtrl as ctrl"
    ng-show="ctrl.show")
    md-card-title
      md-card-title-text
        span.md-headline New Followers
    md-list
      md-list-item(style="padding: 0;" ng-repeat="user in ctrl.newfollowers")
        img.md-avatar(alt="Avatar" onerror="this.src='/images/avatar.jpg'" ng-src="{{user.profile_image_url_https}}")
        a.userDesc.md-list-item-text(flex ng-href="https://www.twitter.com/{{user.screen_name}}")
          span
            b {{user.name}}
            | &nbsp;
          br
          span @{{user.screen_name}}
        //- md-button.follow.md-fab.md-mini.md-primary(aria-label="Follow @{{user.screen_name}}"
          ng-show="user.following === false" md-theme="follows")
          md-icon
            i.material-icons add
        //- md-button.unfollow.md-fab.md-mini.md-accent(aria-label="Unfollow @{{user.screen_name}}"
          ng-show="user.following === true" md-theme="follows")
          md-icon
            i.material-icons remove
  md-card.layoutCard(layout-margin layout-padding
    layout="column" ng-controller="unfollowerCtrl as ctrl"
    ng-show="ctrl.show && ctrl.unfollowers.length")
    md-card-title
      md-card-title-text
        span.md-headline Unfollowers
    md-list
      md-list-item(style="padding: 0;" ng-repeat="user in ctrl.unfollowers")
        img.md-avatar(alt="Avatar" onerror="this.src='/images/avatar.jpg'" ng-src="{{user.profile_image_url_https}}")
        a.userDesc.md-list-item-text(ng-href="https://www.twitter.com/{{user.screen_name}}")
          span
            b {{user.name}}
            | &nbsp;
          br
          span @{{user.screen_name}}
