if user
  -var logoURL = '/dashboard'
else
  -var logoURL = '/' 
if title
  -var nootitle = title + ' - AmpTweet'
else
  -var nootitle = 'AmpTweet'

mixin Header
  md-toolbar.mainToolbar.md-primary(md-whiteframe='3' ng-controller='headerCtrl as ctrl')
    .md-toolbar-tools(layout="row" layout-align="space-between center")
      if user
        md-button.md-icon-button(aria-label='Open side navigation')
          i.material-icons menu
      h3(md-truncate flex="100")
        a.name(href=logoURL) AmpTweet
      if user
        md-menu
          md-button.md-icon-button.avatar(ng-click='$mdMenu.open()'
            style=(`background-image: url('${user.profile.avatar}')`))
          md-menu-content(width='4')
            md-menu-item
              span.md-title=user.profile.name
            md-menu-divider
            md-menu-item
              md-button(ng-click='ctrl.account.signOut()')
                md-icon 
                  i.material-icons power_settings_new
                | Sign Out

doctype html
html
  head
    block head
      meta(charset='utf-8')
      title= nootitle
      meta(name='viewport',           content='width=device-width, initial-scale=1, user-scalable=no')
      meta(name='description',        content='AmpTweet helps you build your Twitter account, no fees included.')
      meta(name='theme-color',        content='#D40000')
      meta(name='application-name',   content='AmpTweet')
      link(rel='icon',                href='/images/favicon.ico')
      link(rel='icon',                href='/images/favicon.ico' type='image/x-icon')
      link(rel='icon',                href='/images/favicon.ico' type='shortcut icon')
      link(rel='stylesheet',          href='/stylesheets/style.css')
      link(rel='stylesheet',          href='/stylesheets/concise.min.css')
      link(rel='stylesheet',          href='/stylesheets/concise-utils.min.css')
      link(rel='stylesheet',          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900")
      link(rel="stylesheet",          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" integrity="sha256-x4+zqlHRe1r5dR0o1hzljoQHpWEW6+8V+1IcTRR1h/U=" crossorigin="anonymous")
      link(rel="stylesheet",          href="https://fonts.googleapis.com/icon?family=Material+Icons")
      script(type='text/javascript',  src='https://unpkg.com/material-components-web@0.16.0/dist/material-components-web.min.js')
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js" integrity="sha256-Nfc6cMygZ4KL6eCnEri0iQjhvESQY3xivXAVj5XNbic=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js" integrity="sha256-E6XubcgT4a601977ZZP4Yw/0UCB2/Ex+Bazst+JRw1U=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js" integrity="sha256-1XBp/KwjxhvrtZiQ+ecAScAyLPe4OStn2lMX0vxTq9U=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js" integrity="sha256-9per5naK1wbvJeCJC4Xr3gjiycTRg9Jno/eSvh12+ck=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-messages.min.js" integrity="sha256-2pwnp0gYfK+zdy02nYSL8GNlfcfo+oNVb0k6pTO1ebQ=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js" integrity="sha256-V4+TCuIl+iFDamH1NvVE0brCN3ES0BfSGmVKC7dFgPQ=" crossorigin="anonymous")
      script(type='text/javascript',  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin='anonymous')
      script(type='text/javascript',  src='/scripts/default.js')
      // Global site tag (gtag.js) - Google Analytics
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112001223-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-112001223-1');
  body(ng-app="AmpTweet" ng-cloak layout='column')
    block header
      +Header
    block content_before
      md-content.main(flex)
        block content
    div(container)
      form.paypal(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
        input(type="hidden" name="cmd" value="_s-xclick")
        input(type="hidden" name="hosted_button_id" value="L99D2NWBP579C")
        input.image(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
        span._mlxs Help keep the project in development. Support us!
        img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
    
